*{
	
	font-family: sans-serif;

}
body{
	background-color: rgba(0, 0, 0, 0.6);
}
.navi{
	background-color: black;
	color: rgb(210, 197, 222);
	display: flex;
	height: 100px;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}
.navi h1{
    position: relative;
    right: 110px;
}
.navi ul{
	padding-right: 40px;
	display: flex;
}
.navi ul li{
	margin-right: 20px;
	padding-right: 10px;
	list-style: none;
}
.navi ul li a{
	text-decoration: none;
	color: white;
}
.navi img{
    height: 50px;
    width: 50px;
    padding-left: 20px;
    
}
.button{

	
	background-color: transparent;
	
	text-decoration: none;
	color: white;
	position: relative;
	bottom: 5px;
}
.navi ul li a{
    border-style: solid;
    border-width: 1px;
    padding: 10px 34px;
}