*{
	
    box-sizing: border-box;
	
}
body{
    background-color: rgb(123, 47, 230);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 100vh;
    overflow: hidden;

}
.box{
   background-color: white;
   border-radius: 5px;
   box-shadow: -10px 10px 35px black;
   overflow: hidden;
   width: 350px;

}
.header{
    box-shadow: ;
    background-color: transparent;
    padding: 30px;
    background-color: rgb(224, 210, 237);
    
}
.header h1{
    text-align: center;
    color: rgb(123, 47, 230);
    font-family: 'Courier New', Courier, monospace;
    
}
.form{
    padding: 20px 40px;
}
.form-list{
    padding-top: 25px;
}
.form-list{
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
    
}
.form-list label{
   display: inline-block;
   padding-bottom: 10px;
   color: rgb(134, 57, 228);
   font-weight: bold;
   font-family: 'Courier New', Courier, monospace;
    
}
.form-list input{
    display: block;
    border-radius: 3px;
   border-color: rgb(181, 160, 201);
   margin-bottom: 5px;
   padding:  7px;
   width: 100%;
}
.form-list input:focus{
    border-color: rgb(185, 150, 222);
}
button{
    padding: 8px 20px;
    width: 100%;
    font-weight: bold;
    color: rgb(87, 32, 138);
    border-radius:5px;
    border-width: 0.4px;
    border-color: transparent;
    background-color:rgb(181, 160, 201);
    
}
button:focus{
    background-color: blueviolet;
    color: white;
}


